$primaryGradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$veryLightGrayBlue: hsl(240, 78%, 98%);
$lightGrayBlue: hsl(234, 14%, 74%);
$grayBlue: hsl(233, 13%, 49%);
$darkGrayBlue: hsl(232, 13%, 33%);
$purple: hsl(237, 63%, 64%);
$lightPurple: hsl(236, 72%, 79%);
$fontFamily: 'Montserrat', sans-serif;
$boxShadowM: 0 .2rem 2.8rem hsla(237, 63%, 64%, .3);
$boxShadowD: 0 .5rem 2.8rem hsla(237, 63%, 64%, .3);